:root {
    --font-light: 300;
    --font-medium: 400;
    --font-bold: 700;

    --font-size-main-heading: 2.5rem;
    --font-size-small-heading: .8rem;
    --font-size-other: 0.9rem;

    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-grey: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

    --button-gradient: linear-gradient(90deg, var(--lime-green) 0%, var(--bright-cyan) 70%);
}

html {
    scroll-behavior: smooth;

}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Public sans", sans-serif;
    background: var(--white);
}
header {
    position: relative;
    width: 100%;
    background: var(--white);
    z-index: 20;  
}

nav {
    width: 85%;
    padding: 1.1rem 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

/* Nav Menu mobile first */
.nav__menu {
    /* Toggle display on desktop view*/
    position: absolute;
    display: none;
    width: 80%;
    top: 100%;
    left: 10%;
    background: white;
    padding: 1rem;
    margin: 1rem auto;
    flex-direction: column;
    justify-self: flex-start;
    list-style: none;
    border-radius: .25rem;
    text-align: center;
    z-index: 21;
    color: var(--dark-blue);
}
.nav__menu-link {
    padding: 1rem 0 ;
    font-weight: var(--font-medium);
}

.nav__menu-link a {
    text-decoration: none;
    padding: 1rem 0;
    color: var(--dark-blue);
}

.nav__menu-link a:visited {
    color: var(--dark-blue);
}

.nav__button,
.hero__button,
.footer__button,
.request-modal__btn {
    padding: 0.9rem 2rem;
    border: none;
    border-radius: 2rem;
    background: var(--button-gradient);
    color: var(--very-light-grey);
    transition: opacity.5s ease;
    font-family: "Public sans", sans-serif;
    font-weight: var(--font-bold
    );
    cursor: pointer;
}
.nav__button {
     /* Toggle display on desktop view*/
     display: none;
}
.hero__button,
.footer__button {
    margin-top: 1.5rem;
}

.nav__button:hover,
.hero__button:hover {
    opacity: 0.7;
}

.hero,
.about,
.articles{
    width: 100%;
    z-index: 10;
    text-align: center;
}
.hero {
    display: flex;
    flex-direction: column;
}

.bg-container {
    width: 100%;
    height: 50vh;
    position: relative;
    margin-bottom: 8rem;
    overflow: hidden;
}

.hero__bg {
    position: relative;
    min-width: 100%;
    height: 100%;
    z-index: 11;
    background-image: url("./images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}


.hero__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -3rem;
    z-index: 11;
    background: url("./images/image-mockups.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.hero__txt {
    width: 90%;
    position: relative;
    top: -7rem;
    margin: 0 auto;
}

.about {
    background-color: var(--very-light-grey);
    padding: 4rem 0;
    margin: 0 auto;
}

.about-head,
.about-sub {
    width: 90%;
    margin: 0 auto;
}

.hero__heading,
.about__heading,
.request-modal__heading {
    font-size: 2.5rem;
    font-weight: var(--font-medium);
    color: var(--dark-blue);
    margin-bottom: 1rem;
}

.hero__info,
.about__info,
.about-sub__info,
.request-modal__info {
    font-size: var(--font-size-other);
    line-height: 1.5rem;
    color: var(--grayish-blue);
    font-weight: var(--font-medium);
    margin: 1rem 0 2rem 0;
}

.about-sub__heading {
    margin-top: 1rem;
    color: var(--dark-blue);
}

.articles {
    margin: 3rem 0;
}
.articles__heading {
    font-size: 1.8rem;
    font-weight: var(--font-medium);
    padding-top: 2rem;
    margin-bottom: 0;
}

figcaption {
    width: 75%;
    margin: 1rem auto;
    font-size: 0.8rem;
    text-align: left;
    color: var(--grayish-blue);
}

.article__image {
    width: 90%;
    height: 14rem;
    object-fit: cover;
    margin: 2rem auto 1rem auto;
    border-radius: .5rem;
}

.article__txt {
    width: 75%;
    margin: 0 auto;
    text-align: left;
}

.article__heading {
    font-size: 1.2rem;
    font-weight: var(--font-medium);
    color: var(--dark-blue);
    margin-bottom: 1rem;
}
.article__info {
    color: var(--grayish-blue);
    font-size: 0.8rem;
    margin-bottom: 3rem;
    line-height: 1.2rem;
}
.article__info:last-of-type {
    margin-bottom: 0;
}

.footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--dark-blue);
    color: var(--very-light-grey);
    font-size: var(--font-size-other);
    text-align: center;
}
.footer__logo {
    margin-bottom: 2rem;
}
.footer__social {
    margin-bottom: 2rem;
}
.footer__social img {
    padding: .5rem;
}
.footer__nav {
    list-style: none;
}
.footer__nav-link {
    margin-bottom: 1rem;
}
.footer__copyright {
    margin: 2rem 0 1rem 0;
    color: var(--grayish-blue);
}

/* used to darken behind menus ie. nav menu or modals */
.overlay {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    opacity: 0.4;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 12;
}

.request-modal {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 40rem;
    width: 90%;
    height: 30rem;
    background: var(--very-light-grey);
    border-radius: .25rem;
    z-index: 13;
}
.request-modal__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.request-modal__info {
    margin-top: 0;
    text-align: center;
    width: 90%
}

.request-modal label {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    color: var(--dark-blue);
}
.request-modal input {
    font-size: 1.1rem;
    height: 2rem;
    margin: .5rem 0;
    padding: 0rem 1rem;
    background: white;
    border: 2px solid var(--grayish-blue);
    border-radius: 5px;
    font-family: "Public sans", sans-serif;
    cursor: pointer;
    width: 16rem;
}
.request-modal__btn {
    padding: .6rem 2rem;
    margin-top: 1rem;
}

@media only screen and (min-width: 700px) {
    nav,
    .hero__txt,
    .about,
    .articles {
        width: 80%;
        padding: 1rem;
        margin: 0 auto;
        background: none;
    }
    .footer {
        margin-top: 4rem;
    }
}

@media only screen and (min-width: 1025px) {
    nav {
        width: 80%;
        margin: 0 auto;
    }

    .nav__menu {
        all: unset;
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }
    .nav__menu-link {
        margin: 1rem;
        color: var(--dark-blue);
        cursor: pointer;
        border: 4px solid transparent;
        font-size: .9rem;
        padding: 0;
        text-decoration: none;
    }

    .nav__menu-link a {
        text-decoration: none;
        color: var(--dark-blue);
    }
    
    .nav__menu-link a:hover {
        border-bottom: 4px solid var(--lime-green);
    }
    .nav__menu-link a:visited {
        color: var(--dark-blue);
    }
    .nav__button {
        display: flex;
    }

    .nav__hamburger {
        display: none;
    }
    .hero {
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        height: 100vh;
    }
    .hero__txt {
        margin-left: 10%;
        text-align: left;
        width: 60%;
    }
    .hero__heading,
    .hero__info {
        min-width: 30vw;
    }
    .bg-container {
        align-self: flex-start;
        height: 100%;
    }
    .hero__bg {
        background-image: url("./images/bg-intro-desktop.svg");
        background-position:left -11rem;
    }
    .hero__img {
        position: absolute;
        width: 90%;
        height: 100%;
        top: -4rem;
        right: -4rem;
        z-index: 11;
        background: url("./images/image-mockups.png");
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
    }
    .about {
        padding: 4rem 0;
        margin-top: -8rem;
        display: flex;
        flex-direction: column;
    }
    .about-head {
        width: 100%;
        text-align: left;
    }

    .about-sub-container {
        display: flex;
        text-align: left;
        margin-top: 2rem;
        gap: 6rem;
    }

    .about__info {
        width: 40%;
    }

    .articles {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .articles-container {
        display: flex;
        margin: 0 auto;
        padding-bottom: 2rem;
    }
}